.main-container {

    display: flex;
    flex-direction: row;

    /* justify-content: space-; */
}













.background-img-container {
  
    margin-top: 5px;
    /* box-shadow: 1px 4px 2px white; */
    /* background-image: url('./img/catering-main1.jpeg'); */
    background-size: cover;
    /* height: 110vh; */
    /* width: 10%; */
    display: inline-block;
}

.img-catering1 {
    margin: 30px;
    margin-left: 70px;
    box-shadow: 1px 2px 4px 2px white;
    border-radius: 20px;
    height: 605px;
    width: 500px;

}

body {
    background-color: #2b2b2b;

}

.heading {

    margin-right: 60px;
    padding-top: 65px;
    color: white;
    font-size: 50px;
    font-family: cursive;
    position: relative;
    text-align: center;
}
.main-tagline {
    margin-left: 30px;
   
   }

.tagline-container {
  color: white;
    font-size: 34px;
    font-family: cursive;
    margin-right:40px;
    position: relative;
    text-align: center;

}

.tagline {
    padding-top: 65px;
    color: white;
    font-size: 35px;
    font-family: cursive;
    position: relative;
    text-align: center;

}

