.card-container{
   height: 450px;
   width: 310px;
   border-radius: 4px;
   background-color: white;
   box-shadow: 2px 6px 2px gray;
   
}
.img3{
    height: 300px;
    width: 311px;
}
.catering-cards-img{
    margin-top: 1px;
    height: 250px;
    width: 310px;
    border-radius: 3px 3px 20px 20px;
}

.btn1-catering{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}
.card-heading{
    font-size: 30px;
    text-align: center;
    background-color: white;
    color: black;
}
.button-catering{
    margin-top: 30px;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
   height: 40px;
}
.catering-btn-incdec{
    background-color: black;
    color: white;
    font-size: 25px;
    width: 50px;
    margin-left: 30px;
}