.background-contanctimg-container{
    background-image: url('./img/imgfood.jpg');
    background-size: cover;
    height:50vh;
    

    
}
body{
    background-color: #2b2b2b;
    
}
.back-color{
    background: none;
}
.heading-name{
    color: #fff;
    font-weight: bolder;
    font-size: 50px;
    margin-left: 600px;
    padding-top: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: none;

}
.contact-line{
    font-size: 30px;
    color:black;
    font-weight: bold;
    margin-left: 330px;
    background: none;
}
.contact-card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.contact-map{
    height: 350px;
    width: 1300px;
    margin-left: 105px;
    border-radius: 15px;
    margin-top: 50px;
}
.contact-employee-img{
    margin-left: 90px;
    margin-top: 30px;
    height: 600px;
    width: 550px;
    border-radius: 10px;

}
.contact-page-division{
    background-color: rgba(0, 0, 0, 0.362);
    margin-top: 50px;
    width: 1517px;
    height: 650px;
    display: flex;
    flex-direction: row;
}
.massage-contact{
    color: #fff;
    background: none;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 40px;
}
.welcome-line{
    color: white;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-left: 50px;
}
.input-1{
    height: 50px;
    width: 325px;
    margin-left: 50px;
    margin-top: 10px;
    border: black solid 1px;
    color: white;
    font-size: 25px;
    padding: 15px;

    
}
.input-2{
    height: 50px;
    width: 700px;
    margin-left: 50px;
    margin-top: 20px;
    border: black solid 1px;
    color: white;
    font-size: 25px;
    padding: 15px;


}
.input-3{
    height: 200px;
    width: 700px;
    margin-left: 50px;
    margin-top: 20px;
    border: black solid 1px;
    color: white;
    font-size: 25px;
    padding: 15px;
    
}
.msg-btn{
    height: 60px;
    width: 150px;
    background:none;
    color: white;
    border: 2px solid white;
    margin-left: 600px;
    margin-top: 30px;
    
}
.msg-btn:hover{
    background-color: red;
    transition: 0.5s;
}
.book-line1{
    color: rgb(204, 255, 0);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-left: 10px;

}
.request{
    color: white;
    font-size: 25px;
    margin-left: 930px;
    margin-top: 20px;
}
.book-line{
    color: red;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}
.reservation{
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.login-form{
      display: flex;
      flex-direction: row;
}
.input-4{
    margin-left: 60px;
    height: 40px;
    width: 210px;
    margin-top: 30px;
    border: black solid 1px;
    color: white;
    font-size: 15px;
    padding: 15px;
    background-color: black;

}
.input-5{
    height: 180px;
    width: 750px;
    margin-left: 60px;
    margin-top: 20px;
    border: black solid 1px;
    color: white;
    font-size: 25px;
    padding: 15px;
    background-color: black;

}
.btnnnn{
    margin-left: 60px;
    margin-bottom: 50px;
}
.imggggg{
    height: 350px;
    border-radius: 5px;
    margin-top: 7px;
}

@media only screen 
and (max-width : 464px) {
    .background-contanctimg-container{
        background-image: url('./img/imgfood.jpg');
        background-size: cover;
        height:1500px;
        width: 1050px;
        }
        .heading-name{
            font-size: 150px;
            margin-left: 120px;
            padding-top: 250px;
        }
        .contact-line{
            font-size: 100px;
            margin-left: 120px;
        }

    

}


